<div class="panel panel-default">
  <div class="panel-body">
    <ul class="list-group">
      <% @results.each() do |patron| %>
      <li class="list-group-item">
        <%= erb(:patron_listing, :layout => false, :locals => {:patron => patron}) %>

        <% if @user == "librarian" %>
          <form class="form-group" action="/patrons/<%= patron.id() %>" method="post">
            <button class="btn btn-default" type="submit" name="_method" value="delete">Remove Patron from Database</button>
          </form>
          <a href="/patrons/<%= patron.id() %>/update">
            <button class="btn btn-default">Update Patron Information</button>
          </a>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>

  <% unless @message.nil? %>
    <div class="panel-footer"><%= @message %></div>
  <% end %>
</div>
