<a href="/books/new">Add a Book</a>
<a href="/books?user=librarian">Manage Books</a>
<a href="/authors?user=librarian">Manage Authors</a>
<a href="/patrons/new">Add a Patron</a>
<a href="/patrons?user=librarian">Manage Patrons</a>
