<h1>Success!</h1>

<% unless @authors.nil? %>
  <% @authors.each() do |author| %>
    <h5><%= author.last_name() %>, <%= author.first_name() %></h5>
  <% end %>
<% end %>

<% unless @book.nil? %>
  <h5><%= @book.title() %></h5>
<% end %>
